S3method(alr,data.frame)
S3method(alr,default)
S3method(alr,matrix)
S3method(clr,data.frame)
S3method(clr,default)
S3method(clr,matrix)
export(alr)
export(clr)
export(neff)
export(norm_pseudo)
export(norm_to_total)
export(rmvnorm)
export(shannon)
export(sparseiCov)
importFrom(huge,huge)
importFrom(huge,huge.npn)
importFrom(parallel,mclapply)
